.nav-link{
   font-family: "Poppins", sans-serif; 
}

.nav-link{
    float: left;
    text-align: center;
    padding: 0px 200px;
    font-size: 17px;
}

.navigation
{
    list-style-type: none;
    font-style: none;
    background-color: cyan;
    display:flex;
}